{# app/Resources/views/admin/index.html.twig #}

<form action="{{ path('modify') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ name }}" />
    <br/><br/>
    <label for="email">Email:</label>
    <input type="text" id="email" name="_email" value="{{ email }}" />
    <br/><br/>
    <label for="telphone">Telphone:</label>
    <input type="text" id="telphone" name="_telphone" value="{{ telphone }}" />
    <br/><br/>
    <label for="qq">Email:</label>
    <input type="text" id="qq" name="_qq" value="{{ qq }}" />
    <br/>
    <br/>
    <label for="gender">Gender:</label>
    <select name="_gender" >   
        <option value="1">male</option>   
        <option value="0">female</option>   
    </select>
    <br/><br/>
    <button type="submit">modify</button>
</form>

<form action="{{ path('logout') }}" method="post">
    <button type="submit">logout</button>
</form>